.chat-main
  .group-info
    .left-content
      .left-content__group-name
        = @group.name
      %ul.member-list
        %li.member-logo Member：
        %li.member-name 
          - @group.users.each do |user|
            = user.name
    .right-content
      = link_to edit_group_path(@group), class: "#" do
        Edit

  .message-list
    = render @messages
    -# .message-box 
    -#   .message-info
    -#     .user-name
    -#     .date
    -#   .text
    -#     %p.message__content

  .form
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'input-box__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'