.side-bar
  .top-content
    .center-box
      %h3.user-name
        = current_user.name
      .icon-box
        = link_to new_group_path do
          = icon('fa', 'edit', class: 'edit-icon')
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog', class: 'cog-icon')
        
  .group-list
    - current_user.groups.each do |group|
      .group-box
        = link_to group_messages_path(group),class: 'group-box'  do
          .group-name
            = group.name
          .group-message
            = group.show_last_message